name: Java with Gradle

on:
  push:
    branaches: [main]


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Source Checkout
      uses: actions/checkout@v2
    
    - name: SetUp JDK
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
    
    - name: Grant jar
      run: chmod -x gradlew

    - name: Build jar
      run: ./gradlew build bootJAR